/* ------------------------- Лого ----------------------------- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: #000000;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.accent-logo {
  color: var(--accent-color);
}

/* ------------------------ Хедер ----------------------------- */

/* ----------------------- Контакты ---------------------------- */

/* ------------------------ Герой ----------------------------- */

/* --------------------- Наши преймущества --------------------- */

/* --------------------- Чем мы занимемся ---------------------- */

/* ------------------------- Наша команда------------------------ */

/* --------------------------Постоянные клиенты----------------- */

/* ----------------------- Футер ------------------------------- */

/* --------------------------Модалка--------------------------- */

/* ---------------------- Портфолио --------------------------- */

/* ------------------------ Галерея ---------------------------- */
