.clients-list {
  display: flex;
}

.client-box {
  width: 170px;
  height: 92px;
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--animation);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--animation);
}
