.footer {
  background-color: #2f303a;
}
.logo-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #ffffff;
}
.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.map {
  color: #ffffff;
}
.address-item {
  padding-bottom: 9px;
}
.address-list:last-child {
  padding-bottom: 60px;
}

.main-box {
  display: flex;
  justify-content: baseline;
}

.join-box {
  padding-bottom: 100px;
  margin-left: 70px;
}

.join-text {
  padding-bottom: 20px;
  padding-top: 72px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-footer-color);
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-social-item {
  width: 44px;
  height: 44px;
}
.join-social-item + .join-social-item {
  margin-left: 10px;
}

.join-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--animation);
}

.join-social-icon {
  fill: #ffffff;
  transition: fill 250ms var(--animation);
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent-color);
}

.join-social-link:hover svg,
.join-social-link:focus svg {
  fill: #ffffff;
}

.subscribe {
  margin-left: 93px;
}

.sub-form {
  display: flex;
}

.sub-mail {
  width: 358px;
  height: 50px;
  padding-top: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--second-footer-color);
  background-color: transparent;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.sub-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--second-btn-color);

  transition: background-color 250ms var(--animation);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #188ce8;
}

.sub-icon {
  vertical-align: middle;
  margin-left: 10px;
  fill: #ffffff;
}
