.header {
  border-bottom: 1px solid #ececec;
}

.header-section {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link,
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list__link {
  position: relative;

  color: var(--main-header-color);
  transition: color 250ms var(--animation);

  .header-list &:hover,
  .header-list &:focus {
    color: var(--accent-color);
  }
}
