.whatwedo-list {
  display: flex;
}

.whatwedo-item {
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.what-we-do-card {
  position: relative;
  display: flex;
}

.what-we-do-text {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}
