.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.map {
  color: #ffffff;
}
.address-item {
  padding-bottom: 9px;
}
.address-list:last-child {
  padding-bottom: 60px;
}
