.footer {
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #ffffff;
}

.footer-box {
  display: flex;
  justify-content: baseline;
}
