.join-box {
  padding-bottom: 100px;
  margin-left: 70px;
}

.join-text {
  padding-bottom: 20px;
  padding-top: 72px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-footer-color);
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-social-item {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
}

.join-social-link {
  @extend .team-social-link;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-social-icon {
  @extend .team-social-icon;
  fill: #ffffff;
}
